:root {
    --michu-tech-background: #EAEBEA;
    --michu-tech-foreground: #140D03;
    --michu-tech-primary: #3C3E3C;
    --michu-tech-accent: #E28521;
    --michu-tech-warn: #C13D2B;
}

::-moz-selection {
}
  
::selection {
}

html {
}

body {
}
