/* FRAMEWORK */
:root,
[color-theme="default"] {
  --toned-gray: #4A4E4C;
  --michu-tech-primary: #C3C3C3;
  --link-icon: url(assets/icons/light_link.svg);
}

[color-theme="dark"] {
  --michu-tech-primary: #4C4F4C;
  --link-icon: url(assets/icons/dark_link.svg);
}

::-moz-selection {
  background-color: var(--michu-tech-accent);
  color: var(--michu-tech-background);
}

::selection {
  background-color: var(--michu-tech-accent);
  color: var(--michu-tech-background);
}

html {
  background-color: var(--michu-tech-background);

  font-family: Roboto, sans-serif;
  color: var(--michu-tech-foreground);
}

body {
  margin: 0;

  /* workaround so that I can click stuff in the footer with z-index -1 */
  pointer-events: none;
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
  line-height: 95%;

  box-sizing: border-box;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-weight: normal;
}

h3 {
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

h4 {
  font-weight: lighter;
  text-transform: uppercase;
}

p {
  font-weight: 300;
}

/*TODO banner z-index is way to high */

/* HOME */
main {
  width: 100%;
  max-width: 2500px;
  margin: 0 auto;

  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  pointer-events: all;
}

main section {
  min-height: 100vh;
}

/* WORK */
#work {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#work h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.work-item {
  box-sizing: border-box;
  border-radius: 6px;
  padding: 0 1vh;
}

.work-item div:not(.work-item-content) {
  flex-shrink: 1;
  margin-top: 5px;
}

.work-item h4 {
  padding-top: 1vh;
}

.work-item .subtitle {
  padding-top: 5px;
  margin: 0 !important;
}

.work-item .work-item-content .image-container {
  box-sizing: border-box;
  border-radius: 16px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.work-item .work-item-content .description {
  display: flex;
  flex-flow: column;
  gap: 2vh;

  justify-content: center;
  align-items: center;
}

.work-item .anchor {
  display: flex;
  align-items: flex-end;
  gap: 8px;

  text-decoration: none;
  color: unset;
  font-weight: 200;
}

.link-icon {
  display: inline-block;

  background-image: var(--link-icon);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.tags {
  display: flex;
  flex-flow: row wrap;
  gap: 6px;
}

.tag {
  background-color: var(--michu-tech-primary);
  border-radius: 18px;
  padding: 2px 12px;
  box-sizing: border-box;

  font-weight: 500;
  text-transform: uppercase;
}

#workOtherGithubAnchor {
  text-decoration: none;
  color: var(--michu-tech-accent);
  font-weight: 300;
}

/* FOOTER AND BANNER */
.banner-container {
  position: relative;
  z-index: 99;
  pointer-events: none;
}

.banner-container .banner {
  background-image: url(assets/bar.svg);
  background-position-x: -70px;
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;

  --shadow-color: color-mix(in srgb, var(--michu-tech-primary) 50%, transparent);
  filter: drop-shadow(50px 20px 60px var(--shadow-color));
}

footer {
  margin-top: 100px;

  display: flex;
  flex-flow: column;

  gap: 20px;

  align-items: center;
  justify-content: center;

  position: sticky;
  bottom: 0;
  z-index: -1;

  box-sizing: border-box;
  padding: 0 4vw;

  pointer-events: all;
}

.contact-controls {
  margin-bottom: 55px;

  width: 100%;
  min-width: 200px;
  max-width: 600px;
  display: flex;
  flex-flow: column;
  gap: 12px;
  align-items: center;
}

.contact-controls .contact-control {
  width: 100%;

  border: none;
  outline: none;

  background-color: var(--michu-tech-primary);
  color: var(--michu-tech-foreground);
  font-family: Roboto, sans-serif;

  box-sizing: border-box;
  padding: 12px;

  transition: all 200ms ease-out;
}

.contact-controls .contact-control:hover {
  background-color: color-mix(in srgb, var(--michu-tech-primary) 64%, transparent)
}

.contact-links {
  width: 100%;
  min-width: 100px;
  max-width: 600px;
  min-height: 30px;

  margin-bottom: 24px;
  gap: 12px;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}

.contact-links a {
  text-decoration: none;
  color: var(--michu-tech-primary);
  cursor: pointer;
}

#mailInput {
  height: 52px;
}

#messageInput {
  resize: none;
}

#contactSend {
  width: fit-content;
  align-self: flex-end;
  height: 52px;
  padding: 0 32px;
  cursor: pointer;
}

#contactSend:disabled {
  opacity: 60%;
}

.contact-result-message {
  font-weight: 500;
  transition: all 200ms ease-out;
}

.striped-text {
  background-image: url("assets/stripes.svg");
  background-repeat: no-repeat;
  background-position: -10px 3.8rem;
}

.loading {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 1.5vh;

  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 101;
  transform: translate(-50%, -50%);

  pointer-events: all;
}

.loading a img {
  width: 26vw;
  height: 26vw;
}

.loading p {
  font-size: clamp(14px, 4vw, 80px);
  margin: 0;
}

.theme-toggle {
  position: fixed;
  bottom: 3vw;
  right: 3vw;
  z-index: 100;

  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: all;
}

.theme-toggle #theme-toggle-button {
  all: unset;

  cursor: pointer;
  transition: all 200ms ease-out;
  opacity: 80%;
}

.theme-toggle #theme-toggle-button:hover {
  scale: 1.1;
  filter: brightness(120%);
}

.overlay-text {
  color: var(--toned-gray);

  font-weight: bold;
  letter-spacing: 0;
  white-space: break-spaces;
  opacity: 40%;
}

#html-text {
  position: fixed;
  bottom: 20px;
  left: -10px;
  z-index: 100;
}

#binary-text {
  position: fixed;
  top: 20px;
  right: -10px;
  z-index: 100;
}