html {
  background-color: var(--isabelline);
  scroll-behavior: smooth;
  transition: background-color 500ms ease-out;
}

.dark {
  background-color: var(--black) !important;
}

body {
  margin: 0;
  color: var(--black);

  #app {
    display: grid;
    grid-template-columns: clamp(350px, 100%, 1400px);
    outline: black 1px solid;
    justify-content: center;
  }
}

::selection {
  background: var(--pale-silver);
}

:root {
  // COLORS
  // visualisation: https://coolors.co/edede9-d6ccc2-f5ebe0-ebd7c1-e6cdb2-e3d5ca-d5bfaf-c09f87-d5bdaf-0d0907
  --isabelline: #EDEDE9;

  --pale-silver: #D6CCC2;

  --linen: #F5EBE0;
  --linen-darker: #EBD7C1;
  --linen-darkest: #E6CDB2;

  --champagne-pink: #E3D5CA;
  --champagne-pink-darker: #D5BFAF;
  --champagne-pink-darkest: #C09F87;

  --desert-sand: #D5BDAF;
  --black: #0D0907;
}

h1 {
  display: inline-block;
  font-family: "Poiret One", serif;
  text-transform: uppercase;
  font-size: 80px;
  margin: 0 0 20px;
}

h2 {
  display: inline-block;
  font-family: "Poiret One", serif;
  text-transform: uppercase;
  font-size: 55px;
  margin: 0 0 10px;
}

h3 {
  display: inline-block;
  font-family: "Poiret One", serif;
  text-transform: uppercase;
  font-size: 35px;
  margin: 0 0 5px;
}

label {
  font-family: "Chivo Mono", monospace;
  font-style: italic;
  font-weight: 100;
  font-size: 17px;
  letter-spacing: -1px;
}

p {
  font-family: "Chivo Mono", monospace;
  font-weight: normal;
  font-size: 17px;
}

.action-link {
  font-family: "Chivo Mono", monospace;
  font-weight: 100;
  font-size: 18px;

  margin-top: 35px;
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  align-self: flex-end;
  padding: 8px;
  cursor: pointer;

  background-color: var(--linen);
  border: var(--black) 2px solid;
  border-radius: 5px;

  text-decoration: none;
  color: var(--black);

  transition: all 200ms ease-out;
}

.action-link:hover {
  background-color: var(--linen-darker);
}

.action-link:focus, .action-link:active {
  background-color: var(--linen-darkest);
}

@media (max-width: 500px) {
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 42px;
  }
  h3 {
    font-size: 28px;
  }
}