html {
  background-color: var(--isabelline);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--black);

  #app {
    display: grid;
    grid-template-columns: clamp(200px, 100%, 1400px);
    justify-content: center;
  }
}

::selection {
  background: var(--pale-silver);
}

:root {
  // COLORS
  // visualisation: https://coolors.co/edede9-d6ccc2-f5ebe0-ebd7c1-e6cdb2-e3d5ca-d5bfaf-c09f87-d5bdaf-0d0907
  --isabelline: #EDEDE9;

  --pale-silver: #D6CCC2;

  --linen: #F5EBE0;
  --linen-darker: #EBD7C1;
  --linen-darkest: #E6CDB2;

  --champagne-pink: #E3D5CA;
  --champagne-pink-darker: #D5BFAF;
  --champagne-pink-darkest: #C09F87;

  --desert-sand: #D5BDAF;
  --black: #0D0907;
}

h1 {
  display: inline-block;
  font-family: "Poiret One", serif;
  text-transform: uppercase;
  font-size: 80px;
  margin: 0 0 20px;
}

h2 {
  display: inline-block;
  font-family: "Poiret One", serif;
  text-transform: uppercase;
  font-size: 55px;
  margin: 0 0 10px;
}

h3 {
  display: inline-block;
  font-family: "Poiret One", serif;
  text-transform: uppercase;
  font-size: 35px;
  margin: 0 0 5px;
}

label {
  font-family: "Chivo Mono", monospace;
  font-style: italic;
  font-weight: 100;
  font-size: 17px;
  letter-spacing: -1px;
}