html {
  background-color: var(--primary-color);
  scroll-behavior: smooth;
  transition: background-color 500ms ease-out;
}

body {
  margin: 0;
}

.hide-overflow {
  height: 100vh !important;
  overflow: hidden;
}

::selection {
  background: var(--secondary-color);
}

:root {
  // color reference https://coolors.co/090a0b-44454f-f4f4f6-e4e3dd-cdcbc1-adaa99-787768-4f4e44-37372f
  --black: #090A0B;
  --primary-color: #44454F;

  --accent-color-lighter: #E4E3DD;
  --accent-color: #CDCBC1;
  --accent-color-darker: #ADAA99;

  --secondary-color-lighter: #787768;
  --secondary-color: #4F4E44;
  --secondary-color-darker: #37372F;
  --white: #F4F4F6;

  font-family: "Exo 2", sans-serif;
  color: var(--white);
}

h1 {
  text-transform: uppercase;
  font-size: clamp(10px, 17vw, 150px);
  font-weight: 900;

  margin: 0;
}

h2 {
  font-size: 70px;
  font-weight: 700;

  margin: 0;
}

h3 {
  font-size: 50px;
  font-weight: 500;

  margin: 0;
}

p {
  line-height: 107%;
  font-size: clamp(10px, 5vw, 40px);
  letter-spacing: 0;
  text-align: justify;
  font-weight: 300;

  margin: 0;
}

.action-link {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 22px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  width: fit-content;
  padding: 20px;
  cursor: pointer;
  box-sizing: border-box;

  background-color: var(--secondary-color);
  border-radius: 100px;
  border: 2px solid var(--white);

  text-decoration: none;
  color: var(--white);

  transition: all 200ms ease-out;
}

.action-link:hover {
  background-color: var(--secondary-color-darker);
  scale: 1.03;
  box-shadow: 0 -8px 15px var(--black);
  transform: translateY(8px);
}

input {
  box-sizing: border-box;
  width: 100%;
  height: clamp(70px, 20vw, 160px);

  border-radius: 80px;
  outline: none;
  border: none;
  padding: 0 5%;

  font-family: "Exo 2", sans-serif;
  font-size: clamp(10px, 9vw, 80px);
  font-weight: 700;
  color: var(--secondary-color);
  background-color: var(--accent-color);

  transition: all 200ms ease-out;
}

input:hover {
  background-color: var(--accent-color-darker);
  box-shadow: 0 12px 15px var(--black);
  transform: translateY(-12px);
}

input:focus {
  background-color: var(--accent-color-darker);

  box-shadow: 0 8px 15px var(--black);
  transform: translateY(-8px);
  outline: solid 5px var(--white);
}